<div class="container">
    <div class="formula">
        <div class="old">3 + 17</div>
        <div class="new">12,5</div>
    </div>
    <button class="div7">7</button>
    <button class="div8">8</button>
    <button class="div9">9</button>
    <button class="divDivide">/</button>
    <button class="divDelete">&lt;-</button>
    <button class="div4">4</button>
    <button class="div5">5</button>
    <button class="div6">6</button>
    <button class="divMultiply">*</button>
    <button class="divClear">CE</button>
    <button class="div1">1</button>
    <button class="div2">2</button>
    <button class="div3">3</button>
    <button class="divMinus">-</button>
    <button class="divEquals">=</button>
    <button class="div0">0</button>
    <button class="divKoma">,</button>
    <button class="divPlus">+</button>
  </div>